* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/************navigáció***************/
nav ul {
    display: flex;
    gap: 5px;
    padding: 0px;
}
nav ul li {
    padding: 3px 10px;
    border: 1px solid lavender;
    border-radius: 5px;
    list-style-type: none;
}
nav ul li:hover {
    background: lavender;
}
nav ul a {
    text-decoration: none;
}
/***********oldalszerkezet**************/
body{
    background-color:rgb(255, 232, 196);
    margin: auto;
}

main{
    width: 80%;
    background-color: rgb(250, 207, 213);
    padding: auto;
    margin: auto;
    border: 2px solid bisque;
}
button{
    background-color:bisque;
    margin: auto;
    border: 2px solid rgb(71, 29, 1);
}

/* .termekek div {
    border: 1px solid lavender;
    background-color: white;
    border-radius: 5px;
} */

.termek img {
    border: 1px solid lavender;
    border-radius: 5px;

    width: 75%;
}


/************JS ben használt osztályok*******************/
.kiemel {
    background-color: cadetblue;
    border: 3px solid rgb(28, 55, 56);
    border-radius: 5px;
}

/************reszponzivitás****************/
@media screen and (max-width: 770px) {
    article {
        grid-template-columns: auto;
    }
    .termekek {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 470px) {
    .termekek {
        grid-template-columns: 1fr;
    }
}

