
/***********oldalszerkezet**************/
body{
    background-color:rgb(255, 232, 196);
    margin: auto;
}

main{
    width: 80%;
    background-color: rgb(250, 207, 213);
    padding: auto;
    margin: auto;
    border: 2px solid bisque;
}
button{
    background-color:bisque;
    margin: auto;
    border: 2px solid rgb(71, 29, 1);
}
article {
    display: grid;
    grid-template-columns: 4fr 200px;
    padding: 15px;
    gap: 10px;
}
.kosar,
.termekek div {
    border: 1px solid lavender;
    background-color: white;
    border-radius: 5px;
}
/**********termékek *******************/
.termekek {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    /*  grid-template-rows: repeat(4, 200px);*/
}

.termek {
    position: relative;
    overflow: hidden;
    padding: 5px;
    font-size: 12pt;
    padding-bottom: 30px;
}
.termek span {
    position: absolute;
    bottom: 5px;
    right: 5px;
    border: 1px solid lavender;
    border-radius: 5px;
    font-size: 10pt;
    padding: 3px 5px;
}

.termek img {
    border: 1px solid lavender;
    border-radius: 5px;

    width: 100%;
}

.termek button,
.fizet {
    font-size: 8pt;
    padding: 3px;
    margin: 2px;

    position: absolute;
    left: 5px;
    bottom: 5px;
}
/*********** Kosár **********************/
.kosar {
    position: relative;
    padding: 10px;
    font-size: 10pt;
    padding-bottom: 30px;
}
.kosar span {
    text-align: right;
    float: right;
    padding-right: 50px;
    border-top: 1px solid gray;
    width: 100%;
    font-weight: bold;
    color: rgb(122, 16, 16);
}
.kosar table {
    width: 100%;
}
.kosar table tr td:nth-child(2) {
   text-align:right
}
#kosaram button {
    font-size: 8pt;
    color: red;
    font-weight: bold;
    padding: 1px;
    background-color: white;
    border: 1px solid lavender;
    border-radius: 5px;
    width: 15px;
}
.fizet {
    font-weight: bold;
    color: rgb(122, 16, 16);
}



